@import "../libs/bootstrap/functions";
// @import "../libs/bootstrap/variables";
// @import "variables";
@import "vars";
@import "../libs/bootstrap/mixins";
@import "../libs/bootstrap/print";
@import "../libs/bootstrap/reboot";
@import "../libs/bootstrap/type";
@import "../libs/bootstrap/images";
@import "../libs/bootstrap/code";
@import "../libs/bootstrap/grid";
@import "../libs/bootstrap/tables";
@import "../libs/bootstrap/forms";
@import "../libs/bootstrap/buttons";
@import "../libs/bootstrap/transitions";
@import "../libs/bootstrap/dropdown";
@import "../libs/bootstrap/button-group";
@import "../libs/bootstrap/input-group";
@import "../libs/bootstrap/custom-forms";
@import "../libs/bootstrap/nav";
@import "../libs/bootstrap/navbar";
@import "../libs/bootstrap/card";
@import "../libs/bootstrap/breadcrumb";
@import "../libs/bootstrap/pagination";
@import "../libs/bootstrap/badge";
@import "../libs/bootstrap/jumbotron";
@import "../libs/bootstrap/alert";
@import "../libs/bootstrap/progress";
@import "../libs/bootstrap/media";
@import "../libs/bootstrap/list-group";
@import "../libs/bootstrap/close";
@import "../libs/bootstrap/modal";
@import "../libs/bootstrap/tooltip";
@import "../libs/bootstrap/popover";
@import "../libs/bootstrap/carousel";
@import "../libs/bootstrap/utilities";

// Main
@import "fonts+normalize";
@import "mixins";

// Modules
@import "modules/typography";
@import "modules/buttons";
@import "modules/halpers";
@import "modules/forms";
@import "modules/global";
@import "modules/list-with-stars";
@import "modules/list-with-stars-number";
@import "modules/enter-links";
@import "modules/search";
@import "modules/slick-dots";
@import "modules/header-menu";
@import "modules/side-menu";
@import "modules/hamburger-btn";
@import "modules/breadcrumbs";
@import "modules/breadcrumbs-blog";
@import "modules/pagination";
@import "modules/basket-row";
@import "modules/developer-link";
@import "modules/custom-select";
@import "modules/payment";
@import "modules/table";
@import "modules/footer-link";
@import "modules/social-list";
@import "modules/post-item";
@import "modules/side-bar";
@import "modules/header";
@import "modules/footer";
@import "modules/tab-nav-list";
@import "modules/education-banner";
@import "modules/main-themes";
@import "modules/enroll-courses";
@import "modules/reviews";
@import "modules/coach";
@import "modules/video-slider";
@import "modules/custom-scrollbar";

// Pages
@import "pages/index";
@import "pages/magazine";
@import "pages/rooms";
@import "pages/rooms-inside";
@import "pages/group_education";
@import "pages/articles";
@import "pages/news";
@import "pages/education-bronze";
@import "pages/forum-subsection";
@import "pages/forum-theme";
@import "pages/forum-main";
@import "pages/video-inside";
@import "pages/video";
@import "pages/basket";
