.goods--section {
	.goods-item:nth-child(2n+1) {
		background-color: #F0F5FA;
	}

	.goods-item-wrap {
		padding-right: 50px;
		position: relative;
	}

	.goods-contant-wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.goods-item {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	.logo-name-block {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	.developer-logo-wrap {
		margin-right: 15px;
	}
	.goods-name {
		font-size: 25px;
		letter-spacing: 1.25px;
		color: #292f39;
		@include tr(0.2s);
		&:hover {
			text-decoration: none;
			color: $accent;
			@include tr(0.2s);
		}
	}

	.goods-price {
		font-size: 25px;
		letter-spacing: 1.25px;
		color: #808ea6;
	}

	.header__hamburger-menu {
		position: absolute;
		top: -10px;
		right: 0;
		width: 15px;
		height: 15px;
		display: flex;
		span {
			background-color: #B5BAC4;
		}
	}
}

.total-payment-section {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	border-bottom: 2px solid #F0F5FA;
	p {
		font-size: 20px;
		letter-spacing: 1px;
		color: $accent;
		span {
			font-size: 35px;
			letter-spacing: 1.75px;
		}
	}
}

.payment-section {
	padding-top: 60px;
	padding-bottom: 25px;
	border-bottom: 2px solid #F0F5FA;

	.h1--big {
		font-size: 30px;
		letter-spacing: 1.5px;
		color: #292f39;
		text-transform: none;
		text-align: center;
		margin-bottom: 40px;
	}

	.list-item-circle {
		margin-bottom: 40px;
	}

	.payment-item {
		margin-bottom: 20px;
	}
}

.list-item-circle {
	font-size: 20px;
	color: #808ea6;
	position: relative;
	padding-left: 65px;
	padding-top: 15px;


	.list-number {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: #F0F5FA;
		border-radius: 50%;
		line-height: 50px;
		text-align: center;
		position: relative;
		z-index: 1;
		margin-right: 15px;
		position: absolute;
		left: 0;
		top: 0;
		&:before {
			content: "";
			display: inline-block;
			width: 30px;
			height: 30px;
			background-color: #fff;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
	}
}

.payment-items-wrap {
	margin-left: -10px;
	margin-right: -10px;

	& > [class*="col-"] {
		padding-left: 10px;
		padding-right: 10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}

.payment-item {
	background-color: #F0F5FA;
	display: inline-block;
	padding: 8px;
	padding-left: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 250px;

	.logo-wrap {
		max-width: 80px;
		max-height: 20px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		@include tr(0.2s);
		&:hover {
			opacity: 0.75;
			@include tr(0.2s);
		}
		img {
			@include img-res;
		}
	}

	.contact-block {
		font-size: 14px;
		letter-spacing: 0.7px;
		background-color: #fff;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 8px;
		padding-right: 8px;
		margin-left: 10px;
		text-align: center;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: 0;
		flex-grow: 1;

		a {
			color: $accent;
		}
	}
}

.payment-form-section {
	padding-top: 40px;
	padding-bottom: 40px;

	.list-item-circle {
		margin-bottom: 40px;
	}
}

.payment-form-wrap {
	padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #F0F5FA;

	input {
		width: 100%;
		margin-bottom: 25px;
		&:hover, &:focus {
			border-color: $accent;
			cursor: pointer;
		}
	}

	textarea {
		width: 100%;
		height: 125px;
		margin-bottom: 40px;
		border: 2px solid #B0B5BB;
		text-align: left;
		padding-top: 15px;
	}

	input[type="submit"] {
		width: auto;
		padding-left: 55px;
		padding-right: 55px;
		margin-bottom: 0;
	}
}

.payment-method {
	height: 55px;
	margin-bottom: 25px;
	&:hover {
		.dropdown-toggle::after {
			@include arr(7, 7, $accent, b);
		}
	}
	.btn {
		border: none;
		border-bottom: 2px solid #B0B5BB;
		border-radius: 0;
		height: 55px;
		padding-left: 15px;
		background-color: transparent;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 0;
	}

	&.bootstrap-select.btn-group .dropdown-toggle .filter-option {
		text-align: left;
		line-height: 1;
		font-size: 15px;
		color: #b0b4b9;
	}

	.dropdown-toggle::after {
		content: '';
		display: inline-block;
		@include arr(7, 7, #B0B5BB, b);
		top: 3px;
	}

	&.show {
		.btn {
			border-color: $accent;
		}
		&:hover {
			.dropdown-toggle::after {
				@include arr(7, 7, $accent, t);
			}
		}
		.dropdown-toggle::after {
			@include arr(7, 7, #B0B5BB, t);
		}
	}
}

.last-step-section {
	.list-item-circle {
		padding-bottom: 40px;
	}
	border-bottom: 2px solid #F0F5FA;
	margin-bottom: 110px;
}

@media screen and (max-width: 1199px) {

	.payment-item {
		width: 100%;
		.logo-wrap-container {
			width: 100%;
		}
		.contact-block {
			min-width: 215px;
		}

		.logo-wrap {
			margin: 0 auto;
		}
	}

}

@media screen and (max-width: 991px) {
	.payment-item {
		.logo-wrap-container {
			width: 32%;
		}
	}

	.payment-form-wrap {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 50px;

		input {
			margin-bottom: 15px;
		}

		textarea {
			margin-top: 35px;
		}
	}

	.payment-method {
		margin-bottom: 15px;
		.btn {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.last-step-section {
		margin-bottom: 100px;
	}
}

@media only screen and (max-width: 575px) {

	.goods--section {
		.goods-item-wrap {
			padding-right: 0;
			align-items: flex-end;
		}
	}

	.goods-item {
		padding-top: 23px;
		padding-bottom: 23px;

		.goods-name, .goods-price {
			font-size: 18px;
			letter-spacing: 0.9px;
		}

		.developer-logo-wrap {
			width: 85px;
			height: 36px;
			margin-right: 0;
			margin-bottom: 15px;
		}

		.logo-name-block {
			display: block;
		}

		.header__hamburger-menu {
			top: 0;
		}
	}

	.total-payment-section {
		padding-top: 45px;
		padding-bottom: 45px;

		p > span {
			font-size: 30px;
		}
	}

	.payment-section {
		padding-top: 50px;
		padding-bottom: 30px;

		.h1--big {
			font-size: 22px;
			letter-spacing: 1.1px;
			margin-bottom: 30px;
		}

		.list-item-circle {
			margin-bottom: 35px;
		}
	}

	.list-item-circle {
		font-size: 18px;
		letter-spacing: 0.9px;
		line-height: 24px;
		padding-top: 13px;

		.list-number {
			width: 45px;
			height: 45px;

			&:before {
				width: 25px;
				height: 25px;
			}
		}
	}

	.payment-item {
		.contact-block {
			min-width: 195px;
		}
	}

	.payment-form-section {
		padding-top: 45px;
		padding-bottom: 50px;

		.list-item-circle {
			margin-bottom: 50px;
		}
	}

	.payment-form-wrap {
		position: relative;
		padding-left: 0;
		padding-right: 0;
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			width: 9999px;
			background-color: #F0F5FA;
			position: absolute;
			top: 0;
			left: -5555px;
			z-index: -1;
		}
		padding-top: 20px;
		input {
			margin-bottom: 25px;
		}

		textarea {
			margin-top: 15px;
		}
	}

	.payment-method {
		margin-bottom: 20px;
	}

	.last-step-section {
		.list-item-circle {
			padding-bottom: 50px;
		}
	}
}