// GROUP & INDIVIDUAL COURSES
.group_courses {
	padding: 90px 0;
	h2 {
		margin-bottom: 55px;
	}
}

.group_courses_item {
	&_heading {
		border-radius: 10px 10px 0 0;
		margin-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
		font-family: "Days";
		letter-spacing: 1.96px;
		padding: 30px 0;
		h3 {
			margin: 0;
		}
	}
	&_descr {
		background-color: #f4f6f9;
		margin-bottom: 4px;
		padding: 25px;
		text-align: center;
		b {
			font-weight: 700;
		}
		span {
			display: block;
			font-size: 15px;
		}
		.btn--middle {
			display: block;
			max-width: 196px;
			margin: 0 auto;
			&:first-child {
				margin-bottom: 12px;
			}
		}
		&:last-child {
			border-radius: 0 0 10px 10px;
		}
	}
	&.-individual {
		.group_courses_item_descr {
			background-color: #fff;
		}
	}

}

.group_courses_item_wrap {
	.row {
		& > [class*="col-"] {
			&:nth-child(1) {
				.group_courses_item_heading {
					background: rgba(#bb6b30, .2);
					color: #bb6b30;
					text-shadow: 2px 2px 0px #DFBFA3;
				}
			}
			&:nth-child(2) {
				.group_courses_item_heading {
					background: rgba(#a9a9a9, .2);
					color: #a9a9a9;
					text-shadow: 2px 2px 0px #D5D5D5;
				}
			}
			&:nth-child(3) {
				.group_courses_item_heading {
					background: rgba(#d4c735, .21);
					color: #d4c735;
					text-shadow: 2px 2px 0px #E7E185;
				}
			}
		}
	}
}

.individual_courses {
	padding: 85px 0;
	background: #F4F6F9;
	h2 {
		margin-bottom: 60px;
		span {
			display: block;
		}
	}
}

.individual_courses_wrap {
	& > [class*="col-"] {
		&:nth-child(2) {
			.group_courses_item_heading {
				background: rgba(#4cbb78, .11);
				color: $primary;
				text-shadow: 2px 2px 0px #B3DCBF;
			}
		}
		&:nth-child(3) {
			.group_courses_item_heading {
				background: rgba(#3672bb, .11);
				color: #5387c5;
				text-shadow: 2px 2px 0px #B0C5E3;
			}
		}
	}
}

@media screen and (max-width:991px) {
	.group_courses {
		padding: 50px 0 60px;
		h2 {
			margin-bottom: 35px;
		}
	}
	.group_courses_item {
		&_heading {
			padding: 38px 0 35px;
			h3 {
				font-size: 18px;
			}
		}
		&_descr {
			padding: 18px;
			font-size: 14px;
			min-height: 68px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
			.btn--middle {
				font-size: 10px;
				max-width: 156px;
			}
			&.-btn_wrap {
				margin-top: 8px;
			}
		}
	}
	.individual_courses {
		padding: 55px 0 45px;
		h2 {
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width:767px) {
	.group_courses {
		padding: 45px 0;
	}
	.group_courses_item {
		margin-bottom: 35px;
		&_descr {
			&.-btn_wrap {
				display: block;
			}
		}
	}
}

@media screen and (max-width:500px) {
	.group_courses {
		padding: 45px 0 30px;
		h2 {
			margin-bottom: 30px;
		}
	}
	.group_courses_item {
		&_heading {
			h3 {
				font-size: 20px;
			}
		}
		&_descr {
			font-size: 16px;
			.btn--middle {
				font-size: 12px;
				max-width: 196px;
			}
		}
	}
	.individual_courses {
		padding: 70px 0 20px;
		h2 {
			margin-bottom: 30px;
		}
	}
}


//OUR COACHES
.our_coaches {
	padding: 75px 0 85px;
	h2 {
		margin-bottom: 65px;
	}
}

.coach_item {
	&_img_wrap {
		background-color: #f4f6f9;
		border-radius: 10px 10px 0 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		min-height: 245px;
	}
	&_descr {
		padding: 20px 12px 33px;
		border: 1px solid #eef0f3;
		border-top: none;
	}
	.name {
		font-family: "MullerMedium";
		margin-bottom: 10px;
	}
	.description {
		max-height: 115px;
		overflow: hidden;
		letter-spacing: 0.75px;
		font-size: 15px;
		margin-bottom: 12px;
	}
	.results {
		color: #808ea6;
		font-family: "MullerMedium";
		text-align: center;
		letter-spacing: 0.9px;
	}
	.result_img {
		max-width: 228px;
		margin: 0 auto 20px;
		display: block;
	}
	.btn--accent {
		border-radius: 18px;
		border-width: 1px;
		font-size: 12px;
		padding: 7px 33px;
		letter-spacing: 0.36px;
	}
}

@media screen and (max-width:1199px) {
	.our_coaches {
		.row > [class*="col-"] {
			&:last-child {
				display: none;
			}
		}
	}
}

@media screen and (max-width:991px) {
	.our_coaches {
		padding: 55px 0 35px;
		h2 {
			margin-bottom: 45px;
		}
	}
	.coach_item {
		&_img_wrap {
			min-height: 235px;
			img {
				max-width: 90%;
			}
		}
		&_descr {
			padding: 15px 10px 27px;
		}
		.result_img {
			max-width: 100%;
		}
		.btn--accent {
			padding: 7px 15px;
		}
	}
}

@media screen and (max-width:767px) {
	.our_coaches {
		.row > [class*="col-"] {
			&:last-child {
				display: block;
			}
		}
	}
	.coach_item {
		margin-bottom: 30px;
	}
}

@media screen and (max-width:575px) {
	.our_coaches {
		.container {
			padding: 0;
		}
	}
	.our_coaches_slider_wrap {
		max-width: 100%;
		margin: 0;
	}
	.coach_item {
		&_img_wrap {
			min-height: 245px;
		}
		&_descr {
			padding: 15px 9px 27px;
		}
	}
}


//EDUCATION QUESTIONS 
.edu_questions {
	padding: 75px 0 70px;
	h2 {
		margin-bottom: 70px;
	}
}

.edu_question_wrap {
	& > [class*="col-"] {
		&:nth-child(1),
		&:nth-child(4) {
			.edu_question_item {
				background-color: #f4f6f9;
			}
		}
		&:nth-child(odd) {
			padding-right: 0;
		}
		&:nth-child(even) {
			padding-left: 0;
		}
	}
}


.edu_question_item {
	h5 {
		color: $primary;
		margin-bottom: 15px;
	}
	padding: 40px 15px 30px 30px;
	min-height: 220px;
	p {
		font-size: 15px;
		letter-spacing: 0.75px;
	}
}

@media screen and (max-width:992px) {
	.edu_questions {
		padding: 55px 0 10px;
		h2 {
			margin-bottom: 40px;
		}
	}
	.edu_question_wrap {
		& > [class*="col-"] {
			&:nth-child(odd) {
				padding-right: 15px;
				padding-left: 15px;
				.edu_question_item {
					background-color: #f4f6f9;
				}
			}
			&:nth-child(even) {
				padding-right: 15px;
				padding-left: 15px;
				.edu_question_item {
					background-color: #fff;
				}
			}
		}
	}
	.edu_question_item {
		min-height: 0;
		h5 {
			font-size: 20px;
		}
	}
}

@media screen and (max-width:500px) {
	.edu_questions {
		padding: 55px 0 20px;
		.container {
			padding: 0;
		}
	}
	.edu_questions_slider_wrap {
		max-width: 100%;
		margin: 0;
	}
	.edu_question_item {
		padding: 0 10px 15px 0;
	}
}

// MORE QUESTIONS
.write_us {
	background: url(../img/group-edu/write_us_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 55px 0 50px;
	h2 {
		color: #fff;
		margin-bottom: 40px;
	}
	.btn--small {
		margin: 0 12px;
	}
}

@media screen and (max-width:992px) {
	.write_us {
		padding: 45px 0 50px;
		h2 {
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width:500px) {
	.write_us {
		padding: 30px 0 15px;
		background-size: cover;
		h2 {
			margin-bottom: 35px;
		}
		.btn--small {
			margin: 0 0 15px;
		}
	}
}



// POKER EDUCATION
.edu_poker {
	padding: 65px 0 60px;
	h2 {
		margin-bottom: 20px;
	}
	p {
		font-size: 15px;
		letter-spacing: 0.75px;
		padding: 0 5px;
	}
}

@media screen and (max-width:991px) {
	.edu_poker {
		padding: 45px 0;
	}
}



