/* PROGRAM REVIEW ====================================== */

.program-review {
	padding-top: 80px;
	padding-bottom: 30px;
	.container {
		position: relative;
	}
}

.program-review__slider-main {
	margin-bottom: 15px;
	.img-slider-wrap {
		display: block;
		margin-top: 0;
		outline: none;
	}
	img {
		max-width: 100%;
		width: auto;
		height: auto;
	}
}

.program-review__slider-dots {
	.img-slider-wrap {
		margin-right: 5px;
		margin-left: 5px;
		margin-bottom: 0;
		display: block;
		outline: none;
		img {
			@include img-res;
		}
	}
	.slick-active:last-child {
		.img-slider-wrap {
			margin-right: 0;
		}
	}
}

.program-review__main-content {
	padding-bottom: 210px;
	h1 {
		margin-bottom: 15px;
	}
	.program-review__text {
		margin-bottom: 25px;
		line-height: 23px;
		p {
			margin-bottom: 0;
			letter-spacing: 0.8px;
		}
	}
	.program-review__buttons {
		max-width: 260px;
		position: relative;
		margin-bottom: 50px;
		.btn {
			display: block;
			text-align: center;
			width: 100%;
			line-height: 48px;
			font-size: 10px;
			padding: 0px 15px;
			text-transform: uppercase;
			border-radius: 0;
			span {
				position: relative;
				top: 2px;
			}
		}
	}
}

.program-review__present {
	border: 1px solid rgba($accent, .2);
	padding: 15px 30px 20px;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 487px;
	.program-review__present-img-wrap {
		width: 50px;
		height: 50px;
		margin: 0 auto 15px;
		img {
			@include img-res;
		}
	}
	h5 {
		margin-bottom: 10px;
		line-height: 25px;
	}
	.program-review__present-text {
		line-height: 23px;
		p {
			margin-bottom: 0;
			letter-spacing: 0.5px;
		}
	}
}

.program-review {
	.slick-prev, .slick-next {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		margin-top: -10px;
		padding: 0;
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background-color: rgba(#323232, .48);
		width: 40px;
		height: 40px;
		border-radius: 50%;
		@include tr(.3s);
		&:hover {
			background-color: rgba(#323232, .7);
			@include tr(.3s);
		}
	}

	.slick-prev {
		left: 25px;
		z-index: 999;
		&:before {
			content: url(../img/slick_icon_prev.png);
			display: inline-block;
			position: relative;
			right: 2px;
		}
	}

	.slick-next {
		right: 25px;
		&:before {
			content: url(../img/slick_icon_next.png);
			display: inline-block;
			position: relative;
			left: 2px;
		}
	}

}

/* PROGRAM REVIEW END ====================================== */

/* PRICE ====================================== */

.price {
	padding-top: 30px;
	padding-bottom: 40px;
	h2 {
		margin-bottom: 40px;
	}
}

/* PRICE END ====================================== */

/* ADVANTAGES LIST 1 ====================================== */

.advantages-list-1 {
	padding-top: 20px;
	padding-bottom: 35px;
	h2 {
		margin-bottom: 40px;
	}
}

/* ADVANTAGES LIST 1 END ====================================== */

/* ADVANTAGES LIST 2 ====================================== */

.advantages-list-2 {
	padding-top: 20px;
	padding-bottom: 40px;
	h2 {
		margin-bottom: 40px;
	}
}

/* ADVANTAGES LIST 2 END ====================================== */

/* APPLICATIONS ====================================== */

.applications {
	padding-top: 20px;
	padding-bottom: 30px;
	h2 {
		margin-bottom: 30px;
	}
	&__description {
		letter-spacing: .9px;
		line-height: 27px;
		margin-bottom: 30px;
	}
	.table-wrap .table__head > div:first-child .table__cell {
		color: #fff;
	}
	.table-wrap .table__row > div:nth-child(2) .table__cell {
		display: block;
	}
	.table-wrap .table__row .table__cell {
		padding-top: 20px;
		padding-bottom: 20px;
		letter-spacing: 1px;
	}
}

/* APPLICATIONS END ====================================== */

/* ADVANTAGES LIST 3 ====================================== */

.advantages-list-3 {
	padding-top: 30px;
	padding-bottom: 20px;
	h2 {
		margin-bottom: 40px;
	}
}

/* ADVANTAGES LIST 3 END ====================================== */

@media only screen and (max-width: 1199px) {
	.program-review__main-content {
		padding-bottom: 0;
		.program-review__buttons {
			margin-bottom: 20px;
		}
	}

	.program-review__present {
		position: static;
		max-width: 100%;
		margin-top: 55px;
	}
}

@media only screen and (max-width: 991px) {
	.program-review {
		padding-top: 50px;
	}

	.program-review__main-content {
		.h1--magazine {
			margin-bottom: 10px;
		}
		.program-review__text {
			margin-bottom: 20px;
		}
		.program-review__buttons {
			max-width: 100%;
			margin-bottom: 15px;
			.program-review__buttons-dropdown {
				margin-bottom: 15px;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.program-review {
		&__main-content {
			.program-review__buttons {
				.program-review__buttons-dropdown {
					font-size: 8px;
				}
				.btn {
					font-size: 8px;
				}
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.program-review {
		padding-top: 0;
		padding-bottom: 60px;
		.program-review__main-slider-wrap {
			background-color: #F4F6F9;
			padding-top: 30px;
			padding-bottom: 20px;
		}
	}

	.program-review__slider-main {
		margin-bottom: 0px;
		.img-slider-wrap {
			margin-bottom: 20px;
		}
	}

	.program-review__slider-dots {
		display: none;
	}

	.program-review__main-content {
		padding-top: 35px;
		.program-review__text {
			margin-bottom: 25px;
		}
		.program-review__buttons {
			margin-bottom: 25px;
			.program-review__buttons-dropdown {
				margin-bottom: 20px;
				font-size: 10px;
			}
			.btn {
				font-size: 10px;
			}
		}
	}

	.program-review__present {
		margin-top: 30px;
	}
}