.news-img-section {
	img {
		width: 100%;
	}
}

.news-text-section {
	.news-text-wrap {
		position: relative;
		padding-top: 25px;
		padding-left: 70px;
		border-left: 1px solid #D8E0EA;
		margin-bottom: 60px;

		.side-menu-wrap {
			top: 160px;
			.side-menu {
				height: auto !important;
			}
		}

		.h1--big {
			color: #252e3a;
			text-transform: none;
			margin-bottom: 40px;
		}

		.main-text-block {
			p {
				letter-spacing: 0.9px;
				margin-bottom: 25px;
				i {
					font-family: "MullerRegularItalic";
				}
			}
		}

		.h2--main--border {
			margin-bottom: 30px;
		}

		.description {
			letter-spacing: 0.9px;
			margin-bottom: 25px;
		}

		.bottom-img {
			@include img-res;
		}

		.share-circle-wrap {
			position: absolute;
			left: -20px;
			top: 100px;
			z-index: 5;
		}

		.star-with-number {
			width: 40px;
			height: 40px;
			margin-bottom: 20px;
			.star-number {
				font-size: 10px;
				color: $accent;
			}
		}

		.like-circle {
			margin-bottom: 20px;
		}

		.bottom-icons-set {
			position: absolute;
			bottom: 40px;
			left: -20px;
			z-index: 5;
		}
	}

	.post-info {
		margin-bottom: 45px;
		.left-side {
			li {
				line-height: 48px;
				margin-right: 15px;
			}
		}
	}

	.autor, .category, .time, .views-and-comments {
		font-size: 17px;
	}

	.autor {
		img {
			width: 35px;
		}
	}

	.category {
		border-radius: 24px;
		a {
			span {
				font-size: 17px;
				position: relative;
				top: 1px;
			}
		}
	}

	.time {
		span {
			font-size: 21px;
			position: relative;
			top: 4px;
		}
	}

	.views-and-comments {
		li {
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
		span {
			font-size: 18px;
		}
	}

	.bottom-text {
		padding-top: 30px;
		p {
			letter-spacing: 0.9px;
			margin-bottom: 25px;
			i {
				font-family: "MullerRegularItalic";
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.share-circle {
	display: block;
	width: 40px;
	height: 40px;
	background-color: #F4F6F9;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: #4F565F;
	@include tr(0.3s);
	&:hover {
		text-decoration: none;
		color: $accent;
		@include tr(0.3s);
	}
}

.like-circle {
	display: block;
	width: 40px;
	height: 40px;
	background-color: $accent;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #fff;
	@include tr(0.3s);
	&:hover {
		text-decoration: none;
		@include tr(0.3s);
		background-color: lighten($accent, 4%);
		color: #fff;
	}
}

.dislike-circle {
	display: block;
	width: 40px;
	height: 40px;
	background-color: #F4F6F9;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #BABEC3;
	@include tr(0.3s);
	&:hover {
		text-decoration: none;
		@include tr(0.3s);
		background-color: darken(#F4F6F9, 4%);
		color: #BABEC3;
	}
}

.want-to-buy-section {
	padding-top: 15px;
	padding-bottom: 20px;
	background-color: #F4F6F9;

	.main-contant {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.text-block {
		max-width: 460px;
		text-align: center;
		letter-spacing: 0.9px;
	}
}

.big-logo {
	.big-logo-img {
		max-width: 100px;
		margin: 0 auto 10px;
		img {
			@include img-res;
		}
	}
	p {
		font-family: "Days";
		font-size: 25px;
		text-transform: uppercase;
		color: #D26B27;
		line-height: 1;
		letter-spacing: 1.75px;
	}
}

.double-button {
	border-radius: 2px;
	display: inline-block;
	font-family: "MullerMedium";
	text-transform: uppercase;
	text-align: center;
	border: 1px solid $accent;
	&:hover {
		text-decoration: none;
		.top-side {
			@include tr(0.3s);
			background-color: lighten($accent, 4%);
		}
		.bottom-side {
			color: $accent;
		}
	}
	.top-side {
		display: block;
		background-color: $accent;
		color: #fff;
		font-size: 12px;
		letter-spacing: 0.6px;
		padding-top: 13px;
		padding-bottom: 10px;
		@include tr(0.3s);
	}
	.bottom-side {
		display: block;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 0.5px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 35px;
		padding-right: 35px;
		color: $accent;
	}
}

.comments-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 65px;
	position: relative;
	padding-left: 85px;
	.main-comment-contant {
		padding-top: 5px;
	}
	.avatar-name-block {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}

	.avatar-wrap {
		min-width: 70px;
		max-width: 70px;
		flex-basis: 70px;
		margin-right: 15px;
		position: absolute;
		top: 0;
		left: 0;
		img {
			@include img-res;
		}
	}

	.top-line {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		p {
			font-family: "MullerMedium";
			font-size: 16px;
			color: #5e6269;
			letter-spacing: 0.8px;
		}
	}

	.message-text {
		font-size: 15px;
		letter-spacing: 0.75px;
		line-height: 20px;
		margin-bottom: 15px;
	}

	.bottom-buttons {
		padding-bottom: 10px;
		border-bottom: 1px solid #D8E0EA;
		.put-like {
			margin-right: 10px;
		}
		.category {
			font-size: 15px;
			padding-top: 7px;
			padding-bottom: 7px;
			span {
				font-size: 17px;
				margin-right: 3px;
				@include tr(0.3s);
			}
			a:hover {
				text-decoration: none;
				span {
					color: $accent;
				}
			}
		}
	}
}

.comments-section {
	padding-top: 100px;
	padding-bottom: 55px;
	.h3--main {
		color: #808ea6;
		margin-bottom: 75px;
		display: inline-block;
		position: relative;
		padding-right: 10px;
		&:after {
			content: "";
			display: inline-block;
			height: 1px;
			width: 10000px;
			background-color: #D8E0EA;
			position: absolute;
			left: 100%;
			top: 13px;
		}
	}

	.comments-item:last-child {
		margin-bottom: 0;
	}
}

.put-like {
	font-size: 18px;
	color: #b5bac1;
	display: inline-block;
	@include tr(0.3s);
	&:hover {
		text-decoration: none;
		color: $accent;
		@include tr(0.3s);
	}
	.heart {
		position: relative;
		top: 2px;
	}
	.quantity {
		font-size: 15px;
		letter-spacing: 0.75px;
	}
}

.reg-comments-section {
	padding-top: 70px;
	padding-bottom: 70px;

	.registration-text {
		max-width: 625px;
		margin: 0 auto;
		font-size: 15px;
		color: #a2a7ad;
		text-align: center;
		letter-spacing: 0.75px;
		line-height: 20px;
		margin-bottom: 35px;
		a {
			color: #497dbf;
		}
		span {
			color: $accent;
		}
	}

	form {
		max-width: 360px;
		margin: 0 auto;

		.accent {
			border-color: #127EC2;
			color: #127EC2;
			@include placeholder-color(#127EC2);
		}

		input {
			display: block;
			width: 100%;
		}
		input[type="text"] {
			margin-bottom: 25px;
		}
		input[type="password"] {
			margin-bottom: 45px;
		}
		input[type="submit"] {
			background-color: #127EC2;
			@include tr(0.3s);
			&:hover {
				background-color: lighten(#127EC2, 5%);
				@include tr(0.3s);
			}
		}
		.btn {
			width: auto;
			padding-left: 75px;
			padding-right: 75px;
			margin: 0 auto;
		}
	}
}

.articles-choice-section {
	padding-top: 55px;
	background-color: #EEF9F4;
	margin-bottom: 100px;

	.tab-nav-list {
		margin-bottom: 55px;
		max-width: 555px;
		a {
			color: $accent;
			border-color: $accent;
			&:hover {
				background-color: rgba($accent, 0.1);
			}
		}
		a.active {
			background-color: $accent;
			border-color: $accent;
			color: #fff;
		}
		li {
			width: 33.3333%;
		}
	}
}

.articles-choice-item {
	padding-bottom: 50px;
	.img-wrap {
		height: 0;
		overflow: hidden;
		padding-bottom: 60%;
		position: relative;
		display: block;
		margin-bottom: 20px;
		@include tr(0.3s);
		&:hover {
			opacity: 0.8;
			@include tr(0.3s);
		}
		img {
			height: 100%;
			position: absolute;
			width: 100%;
			border-radius: 5px;
		}
	}
	.h3--main {
		@include tr(0.3s);
		&:hover {
			color: $accent;
			text-decoration: none;
			@include tr(0.3s);
		}
	}
}

@media only screen and (max-width: 991px) {
	.news-text-section {
		.news-text-wrap {
			padding-left: 0;
			border-left: none;
			.bottom-img-block {
				margin-bottom: 20px;
			}
			.share-circle-wrap, .bottom-icons-set {
				position: relative;
				left: 0;
				top: 0;
				bottom: 0;
			}
			.share-circle-wrap {
				display: inline-block;
				vertical-align: middle;
				margin-left: 20px;
				margin-right: 10px;
			}
			.bottom-icons-set {
				display: inline-block;
				.icons-inner-wrap {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
				}

				.star-with-number, .like-circle, .dislike-circle {
					margin-bottom: 0;
					margin-left: 10px;
					margin-right: 10px;
				}
			}

			.h1--big {
				font-size: 23px;
				letter-spacing: 1.15px;
				margin-bottom: 20px;
			}

			.autor, .category, .time, .views-and-comments {
				font-size: 13px;
			}

			.autor {
				img {
					width: 28px;
				}
			}

			.time {
				display: inline-block;
			}

			.main-text-block {
				margin-bottom: 50px;
			}
		}
		.post-info {
			margin-bottom: 20px;
			.left-side {
				li {
					line-height: 36px;
				}
			}
		}

		.category {
			a {
				span {
					font-size: 14px;
				}
			}
		}

		.time {
			span {
				font-size: 16px;
				top: 2px;
			}
		}

		.views-and-comments {
			span {
				font-size: 15px;
			}
		}

		.bottom-text {
			padding-left: 0;
		}
	}

	.want-to-buy-section {
		.text-block {
			font-size: 16px;
			max-width: 265px;
			letter-spacing: 0.8px;
		}
	}

	.big-logo {
		p {
			font-size: 20px;
			letter-spacing: 1.4px;
		}
	}

	.comments-item {
		margin-bottom: 60px;
		.top-line {
			p {
				font-family: "MullerMedium";
			}
		}

		.last-activity {
			.icon {
				font-size: 12px;
			}
			.time {
				font-size: 10px;
			}
		}

		.message-text {
			margin-bottom: 20px;
		}
	}

	.comments-section {
		padding-top: 75px;
		padding-bottom: 30px;
		.h3--main {
			margin-bottom: 60px;
		}
	}

	.reg-comments-section {
		padding-top: 30px;
		.registration-text {
			margin-bottom: 30px;
		}
		form {
			input[type="text"] {
				margin-bottom: 20px;
			}
		}
	}

	.articles-choice-section {
		padding-bottom: 45px;
		margin-bottom: 85px;
	}

	.articles-choice-item {
		padding-bottom: 40px;
		.img-wrap {
			margin-bottom: 10px;
		}

		.h3--main {
			font-size: 19px;
			line-height: 21px;
		}
	}

}

@media only screen and (max-width: 767px) {
	.want-to-buy-section {
		padding-top: 20px;
		padding-bottom: 25px;
		.main-contant {
			flex-direction: column;
		}

		.big-logo {
			padding-bottom: 25px;
			position: relative;
			&:after {
				content: "";
				display: inline-block;
				height: 1px;
				background-color: #D8E0EA;
				width: 10000px;
				position: absolute;
				bottom: 0;
				left: -999px;
			}
		}

		.text-block {
			padding-top: 35px;
			padding-bottom: 35px;
			max-width: 100%;
			font-size: 18px;
		}
	}

	.big-logo {
		.big-logo-img {
			img {
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				opacity: 0.6;
			}
		}
		p {
			font-size: 25px;
			letter-spacing: 1.75px;
			color: #a9a9a9;
		}
	}

	.articles-choice-section {
		.tab-nav-list {
			li {
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.news-img-section {
		.img-wrap {
			margin-left: -15px;
			margin-right: -15px;
			padding-bottom: 40%;
		}
	}

	.news-text-section {
		.post-info {
			.left-side {
				li {
					margin-right: 10px;
				}
			}
		}
		.views-and-comments {
			li {
				margin-right: 10px;
			}
		}
		.news-text-wrap {
			padding-top: 10px;
			margin-bottom: 45px;

			.main-text-block {
				margin-bottom: 25px;
			}

			.bottom-img-block {
				margin-left: -15px;
				margin-right: -15px;
				margin-bottom: 45px;
			}

			.icons-container {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.star-with-number {
				width: 50px;
				height: 50px;
				.star-number {
					font-size: 13px;
					top: 50%;
				}
			}
			.share-circle-wrap {
				margin-left: 10px;
			}
		}
		.bottom-text {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.share-circle {
		width: 50px;
		height: 50px;
		font-size: 23px;
	}

	.like-circle {
		width: 50px;
		height: 50px;
		font-size: 20px;
	}

	.dislike-circle {
		width: 50px;
		height: 50px;
		font-size: 20px;
	}

	.double-button {
		.bottom-side {
			padding-left: 50px;
			padding-right: 50px;
		}
	}

	.comments-section {
		padding-top: 40px;
		padding-bottom: 25px;
		.h3--main {
			margin-bottom: 20px;
		}
		.comments-item:last-child {
			margin-bottom: 30px;
		}
		.comments-wrap {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	.comments-item {
		padding-left: 0;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
		.top-line {
			margin-bottom: 15px;
		}
		.avatar-wrap {
			position: relative;
		}
		.message-text {
			margin-bottom: 25px;
		}
	}

	.reg-comments-section {
		padding-top: 25px;
		padding-bottom: 65px;
	}

	.articles-choice-section {
		padding-top: 40px;
		padding-bottom: 30px;
		.tab-nav-list {
			margin-bottom: 5px;
		}

		.slick-dots {
			margin-top: 35px;
		}
	}

	.articles-choice-item {
		padding-top: 40px;
		padding-bottom: 0;
		.h3--main {
			font-size: 23px;
			line-height: 25px;
			letter-spacing: 1.15px;
		}
	}
}