.title-block-room-section {
	padding-top: 45px;
	background-image: url(../img/rooms_inside_bg.jpg);
	@include rbg;

	.room-logo {
		max-width: 360px;
		padding-top: 25px;
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #fff;
		margin: 0 auto 35px;
		border-radius: 5px;
		box-shadow: 0 4px 23px 1px rgba(150, 151, 153, 0.2);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 180px;
			max-height: 55px;
			width: auto;
			height: auto;
		}

		.star-with-number {
			width: 55px;
			height: 55px;
			position: absolute;
			top: -22px;
			right: -27px;
			.star-number {
				font-size: 14px;
			}
		}
	}

	.title-description {
		color: #fff;
		max-width: 810px;
		margin: 0 auto 30px;
		text-align: center;
		line-height: 20px;
		letter-spacing: 0.8px;
		font-size: 16px;
	}

	.bottom-line {
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: rgba(#000000, 0.54);
		.rooms-numbers-list {
			margin-bottom: 0;
			font-size: 0;
			text-align: center;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
		}

		.room-item-numbers {
			line-height: 39px;
			font-size: 15px;
			color: #ffffff;
			margin-bottom: 0;
			display: inline-block;
			position: relative;
			strong {
				font-size: 25px;
			}
		}

		.middle-border {
			display: inline-block;
			width: 1px;
			background-color: #D8E0EA;
			margin-left: 35px;
			margin-right: 35px;
		}
	}
}

.room-inside-contant {
	padding-top: 35px;
	padding-bottom: 105px;
}

.room-inside-main-contant {
	padding-top: 28px;

	.table-wrap {
		letter-spacing: 0.8px;
	}

	.advantages-section {
		.advantages-items-wrap {
			padding-top: 35px;
			padding-bottom: 75px;
		}

		.advantages-item {
			text-align: center;
		}

		.icon-wrap {
			width: 70px;
			height: 50px;
			margin: 0 auto 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				@include img-res;
			}
		}

		.text-block {
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0.8px;

			a {
				color: #5584c2;
			}
		}
	}

	.registration-section {
		.list-wrap {
			padding-top: 10px;
			padding-left: 35px;
			padding-right: 25px;
			padding-bottom: 15px;
			border-left: 4px solid #EFF9F4;
			border-right: 4px solid #EFF9F4;
		}
	}

	.check-registration-section {
		background-color: #EFF9F4;
		padding: 25px 45px 45px;

		.h2--main {
			color: $accent;
			margin-bottom: 13px;
		}

		.description {
			font-size: 14px;
			color: #8c9296;
			line-height: 20px;
			letter-spacing: 0.7px;
			text-align: center;
			margin-bottom: 45px;
		}

		.input-wrap {
			display: flex;
			margin-bottom: 5px;
			input {
				width: 33.33333%;
				margin-right: 25px;
				&:last-child {
					margin-right: 0;
				}
			}
		}

		.prompt-wrap {
			margin-bottom: 20px;
		}

		.prompt {
			font-family: "MullerRegularItalic";
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.7px;
			color: #00BC72;
			text-align: right;
			margin-right: 42px;
		}

		.btn-wrap {
			max-width: 195px;
			margin: 0 auto;
		}
	}

	.free-education-section {
		padding-top: 75px;
		padding-bottom: 35px;
		.table-wrap .table__head > div:first-child .table__cell {
			color: #fff;
		}

		.table-wrap .table__row .table__cell {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.h2--main {
			color: $accent;
			margin-bottom: 40px;
		}

		.description {
			letter-spacing: 0.9px;
			margin-bottom: 15px;
		}
	}

	.compensation-system-section {
		padding-top: 25px;
		padding-bottom: 15px;
		.h2--main {
			margin-bottom: 40px;
			color: $accent;
		}
		.description {
			letter-spacing: 0.9px;
			p {
				margin-bottom: 25px;
				strong {
					font-family: "MullerBold";
				}
			}
		}
	}

	.game-section {
		padding-top: 20px;
		padding-bottom: 30px;

		.h2--main {
			color: $accent;
			margin-bottom: 35px;
		}

		.top-text {
			margin-bottom: 30px;
			letter-spacing: 0.9px;
		}

		.table-wrap {
			margin-bottom: 30px;
		}

		.table-wrap .table__head > div:first-child .table__cell {
			color: #fff;
		}

		.table-wrap .table__row .table__cell {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.text-block {
			letter-spacing: 0.9px;
			p {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					color: #5282c1;
				}
			}
		}
	}

	.rack-structure-section {
		padding-top: 30px;
		.h2--main {
			color: $accent;
			margin-bottom: 35px;
		}

		.description {
			margin-bottom: 15px;
			letter-spacing: 0.9px;
		}

		.table-wrap .table__head > div:first-child .table__cell {
			color: #fff;
		}
		
		.table-wrap .table__row .table__cell {
			flex-direction: column;
		}
	}
}

.room-inside-sidebar {


	.sidebar-item {
		margin-bottom: 40px;
		.title {
			padding-top: 15px;
			padding-bottom: 18px;
			font-size: 16px;
			margin: 0 25px;
		}
	}

	.sidebar-content {
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.sidebar-slider {
		padding-bottom: 30px;

		.screenshot-wrap {
			img {
				@include img-res;
				margin: 0 auto;
			}
		}

		.slick-prev, .slick-next {
			font-size: 0;
			background-color: transparent;
			border: none;
			width: 16px;
			height: 16px;
			position: absolute;
			top: -60px;
			padding: 0;
			z-index: 10;
			cursor: pointer;
			text-align: center;
			&:before {
				font-family: "icomoon";
				display: inline-block;
				font-size: 16px;
				line-height: 15px;
				@include tr(0.3s);
			}
			&:hover {
				&:before {
					color: $accent;
					@include tr(0.3s);
				}
			}
		}
		.slick-prev {
			left: 30px;
			&:before {
				content: "\e902";
				color: #D4D8DC;
			}
		}
		.slick-next {
			right: 30px;
			&:before {
				content: "\e900";
				color: #ACB1BA;
			}
		}

	}

	.side-video {
		padding-bottom: 25px;
		.embed-container { position: relative; padding-bottom: 73.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	}

	.side-traffic {
		padding-bottom: 0;
		.description {
			font-size: 14px;
			letter-spacing: 0.7px;
			text-align: center;
			margin-bottom: 10px;
		}

		.row-of-table {
			padding-top: 8px;
			padding-bottom: 8px;
			border-top: 2px solid #fff;
		}

		.header-of-table {
			font-family: "MullerBold";
			font-size: 15px;
			letter-spacing: 0.75px;
			text-align: center;
		}

		.cells-of-table {
			font-size: 10px;
			text-align: center;
			letter-spacing: 0.5px;
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	.side-info {
		padding-top: 15px;
		font-size: 14px;
		padding-bottom: 15px;
		padding-left: 0;
		padding-right: 0;
		p {
			padding-top: 10px;
			padding-bottom: 15px;
			border-bottom: 2px solid #fff;
			line-height: 16px;
			padding-left: 15px;
			padding-right: 15px;
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
		a {
			color: $accent;
		}
	}

	.side-payment-systems {
		padding-top: 15px;
		padding-bottom: 10px;

		.payment-row {
			padding-top: 10px;
			padding-bottom: 10px;
			margin-left: -15px;
			margin-right: -15px;
			padding-left: 15px;
			padding-right: 15px;
			border-bottom: 2px solid #fff;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
		.payment-system {
			text-align: center;
			display: inline-block;
			&:hover {
				.payment-logo-wrap {
					opacity: 0.6;
					@include tr(0.1s);
				}
				span {
					color: $accent;
					@include tr(0.3s);
				}
			}
			span {
				font-size: 14px;
				color: #565b65;
				display: inline-block;
				margin-top: 5px;
				@include tr(0.3s);
			}
		}
		.payment-logo-wrap {
			@include tr(0.1s);
			width: 90px;
			height: 35px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			img {
				@include img-res;
			}
		}

	}

	.side-passive-income {
		padding-top: 20px;
		padding-bottom: 20px;
		.img-wrap {
			text-align: center;
			margin-bottom: 25px;
			img {
				@include img-res;
			}
		}

		.main-text {
			font-size: 14px;
			letter-spacing: 0.7px;
			line-height: 16px;
			padding-bottom: 10px;
			border-bottom: 2px solid #fff;
			margin-left: -15px;
			margin-right: -15px;
			margin-bottom: 25px;
			padding-left: 15px;
			padding-right: 15px;
			span {
				color: $accent;
			}
		}

		.btn-wrap {
			max-width: 140px;
		}
	}

	.bottom-side-item-slider {
		padding-bottom: 20px;
		p {
			font-family: "Exo2-SemiBold";
			font-size: 16px;
			color: #808ea6;
			line-height: 30px;
			letter-spacing: 0.8px;
			text-align: center;
			margin-bottom: 10px;
		}

		.img-wrap {
			margin-bottom: 20px;
			img {
				@include img-res;
				margin: 0 auto;
			}
		}

		.slick-prev, .slick-next {
			font-size: 0;
			background-color: transparent;
			border: none;
			width: 15px;
			height: 15px;
			position: absolute;
			top: -60px;
			padding: 0;
			z-index: 10;
			cursor: pointer;
			text-align: center;
			&:before {
				font-family: "icomoon";
				display: inline-block;
				font-size: 16px;
				line-height: 15px;
				@include tr(0.3s);
			}
			&:hover {
				&:before {
					color: $accent;
					@include tr(0.3s);
				}
			}
		}
		.slick-prev {
			left: 30px;
			&:before {
				content: "\e902";
				color: #D4D8DC;
			}
		}
		.slick-next {
			right: 30px;
			&:before {
				content: "\e900";
				color: #ACB1BA;
			}
		}

		.btn-wrap {
			max-width: 140px;
		}
	}

}

@media only screen and (max-width: 991px) {
	.title-block-room-section {
		padding-top: 60px;
		.room-logo {
			max-width: 345px;
			margin-bottom: 30px;
		}

		.title-description {
			max-width: 590px;
			margin-bottom: 25px;
		}

		.bottom-line {
			.room-item-numbers {
				line-height: 39px;
			}
		}
	}

	.room-inside-contant {
		padding-bottom: 50px;
	}

	.room-inside-main-contant {
		padding-top: 21px;
		.advantages-section {
			.advantages-items-wrap {
				padding-bottom: 30px;
			}
			.advantages-item {
				margin-bottom: 30px;
			}
		}

		.registration-section {
			.list-wrap {
				padding-left: 15px;
			}
		}

		.check-registration-section {
			padding-left: 75px;
			padding-right: 75px;
			padding-top: 30px;
			.h2--main {
				margin-bottom: 20px;
			}
			.description {
				margin-bottom: 35px;
			}
			.input-wrap {
				display: block;
				margin-bottom: 10px;
				input {
					width: 100%;
					margin-bottom: 25px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.prompt-wrap {
				margin-bottom: 30px;
			}
		}
	}

	.room-inside-sidebar {
		.sidebar-item {
			margin-bottom: 30px;
			.title {
				font-size: 13px;
				padding-top: 10px;
				padding-bottom: 13px;
			}
		}

		.sidebar-content {
			padding-top: 10px;
			padding-bottom: 15px;
			padding-left: 10px;
			padding-right: 10px;
		}

		.sidebar-slider {
			.slick-prev, .slick-next {
				top: -38px;
				&:before {
					font-size: 13px;
				}
			}
		}

		.side-traffic {
			padding-bottom: 0px;
			.description {
				font-size: 10px;
			}

			.header-of-table {
				font-size: 10px;
			}

			.cells-of-table {
				font-size: 7px;
				margin-left: -10px;
				margin-right: -10px;
			}
		}

		.side-info {
			padding-left: 0;
			padding-right: 0;
			font-size: 10px;
			line-height: 12px;
			padding-bottom: 5px;
			p {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
		.side-payment-systems {
			.payment-system {
				span {
					font-size: 10px;
				}
				.payment-logo-wrap {
					width: 60px;
					height: 25px;
				}
			}
		}

		.side-passive-income {
			.img-wrap {
				margin-bottom: 10px;
			}
			.main-text {
				font-size: 10px;
				line-height: 12px;
				margin-bottom: 12px;
			}
		}

		.bottom-side-item-slider {
			padding-top: 20px;
			padding-bottom: 15px;
			p {
				font-size: 11px;
				margin-bottom: 10px;
				line-height: 11px;
			}
			.img-wrap {
				margin-bottom: 15px;
			}
			.slick-prev, .slick-next {
				top: -48px;
				&:before {
					font-size: 13px;
				}
			}
		}

	}

	.room-inside-main-contant {
		.table-wrap {
			.table__head {
				.table__cell {
					font-size: 10px;
				}
			}
			.table__row {
				.table__cell {
					font-size: 10px;
				}
			}
		}

		.free-education-section {
			padding-top: 50px;
			padding-bottom: 20px;
			.h2--main {
				margin-bottom: 25px;
			}
		}

		.compensation-system-section {
			.h2--main {
				margin-bottom: 25px;
			}
			.description p {
				margin-bottom: 20px;
			}
		}

		.game-section {
			padding-top: 15px;
			padding-bottom: 20px;
			.h2--main {
				margin-bottom: 25px;
			}

			.text-block p {
				margin-bottom: 15px;
			}
		}

		.rack-structure-section {
			padding-top: 20px;
			.h2--main {
				margin-bottom: 25px;
			}
		}

	}

}

@media only screen and (max-width: 767px) {

	.title-block-room-section {
		padding-top: 40px;
		.room-logo {
			max-width: 250px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-bottom: 20px;
			img {
				max-width: 130px;
				max-height: 40px;
			}
			.star-with-number {
				width: 35px;
				height: 35px;
				top: -18px;
				right: -18px;
				.star-number {
					font-size: 9px;
				}
			}
		}
		.title-description {
			margin-bottom: 20px;
		}
		.bottom-line {
			padding-top: 15px;
			padding-bottom: 15px;
			.room-item-numbers {
				font-size: 11px;
				strong {
					font-size: 18px;
				}
			}

			.middle-border {
				margin-left: 20px;
				margin-right: 20px;
			}
		}
	}

	.room-inside-contant {
		padding-top: 55px;
	}

	.room-inside-main-contant {
		padding-top: 0;
	}

	.room-inside-main-contant {
		.advantages-section {
			.icon-wrap {
				height: 65px;
			}

			.advantages-items-wrap {
				padding-top: 25px;
				padding-bottom: 0;
			}

			.advantages-item {
				margin-bottom: 40px;
			}
		}

		.registration-section {
			.list-wrap {
				border: none;
				padding-top: 0;
				padding-left: 0;
				padding-right: 0;
			}
		}

		.check-registration-section {
			padding-top: 25px;
			padding-left: 0px;
			padding-right: 0px;
			.description {
				font-size: 15px;
			}
		}
	}

	.room-inside-sidebar {
		.sidebar-content-wrap {
			padding-top: 45px;
		}

		.sidebar-item .title {
			margin: 0 auto;
			font-size: 16px;
		}

		.sidebar-content {
			padding-top: 30px;
			padding-bottom: 40px;
			padding-left: 15px;
			padding-right: 15px;
		}

		.sidebar-slider {
			.slick-prev, .slick-next {
				top: -60px;
			}
			.slick-prev {
				left: 30%;
			}
			.slick-next {
				right: 30%;
			}
		}

		.side-info {
			padding-top: 20px;
			padding-bottom: 15px;
			padding-left: 0;
			padding-right: 0;
			p {
				font-size: 14px;
				line-height: 16px;
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}

		.side-payment-systems {
			padding-bottom: 15px;
			padding-top: 10px;
			.payment-system {
				span {
					font-size: 14px;
				}
				.payment-logo-wrap {
					width: 85px;
					height: 35px;
				}
			}
		}
	}

	.room-inside-sidebar {
		.sidebar-content {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@media only screen and (max-width: 575px) {

	.room-inside-sidebar .sides-15px.sidebar-item {
		.sidebar-content {
			margin-left: -15px;
			margin-right: -15px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.room-inside-main-contant {
		.advantages-section {
			.text-block {
				max-width: 175px;
				margin: 0 auto;
			}
			.icon-wrap {
				margin-bottom: 15px;
			}
		}
	}

}

@media only screen and (max-width: 400px) {

	.room-inside-sidebar,  {
		.sidebar-slider {
			.slick-prev {
				left: 22%;
			}
			.slick-next {
				right: 22%;
			}
		}
	}
}