.basket {
	background-color: #F0F5FA;
	.developer-link-wrap {
		padding-top: 20px;
		padding-bottom: 20px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	.basket-wrap {
		display: block;
		width: 165px;
		background-color: #0073BF;
		margin-left: auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		@include tr(.3s);
		img {
			@include img-res;
		}
		&:hover {
			background-color: rgba(#0073BF, .9);
			@include tr(.3s);
		}
		.basket-img-wrap {
			position: relative;
		}
		.basket-number {
			position: absolute;
			top: 0;
			left: -15px;
			width: 25px;
			height: 25px;
			background-color: $accent;
			border-radius: 50%;
			text-align: center;
			line-height: 25px;
			color: #fff;
			font-size: 13px;
		}
	}
}

.developer-logo-wrap {
	display: inline-block;
	width: 130px;
	height: 55px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 7px 16px rgba(0, 0, 0, 0.1);
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 15px;
	margin-right: 30px;
	img {
		@include img-res;
	}
}

@media only screen and (max-width: 767px) {
	.basket {
		.basket-wrap {
			width: 100px;
		}
	}

	.developer-logo-wrap {
		width: 100px;
	}
}

@media only screen and (min-width: 575px) {
	.header__basket-mob {
		display: none;
	}
}

@media only screen and (max-width: 575px) {
	.basket {
		display: none;
	}

	.header__basket-mob {
		position: absolute;
		right: 65px;
		span {
			display: inline-block;
			width: 16px;
			height: 16px;
			background-color: $accent;
			border-radius: 50%;
			text-align: center;
			font-size: 8px;
			color: #fff;
			line-height: 16px;
			position: absolute;
			top: 0;
			left: -8px;
		}
	}
}