.breadcrumbs {
	padding-top: 10px;
	padding-bottom: 10px;
	ul {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
		li {
			line-height: 1;
			white-space: nowrap;
			display: inline-block;
			margin-bottom: 5px;
			a {
				color: #a0a4ab;
				font-size: 13px;
				letter-spacing: 0.65px;
			}
		}
		li:last-child {
			white-space: normal;
			color: #a0a4ab;
			font-size: 13px;
			letter-spacing: 0.65px;
		}
		li:after {
			content: url(../img/breadcrumbs_icon.png);
			padding-left: 5px;
			padding-right: 5px;
		}
		li:last-child:after {
			display: none;
		}
	}
}

.breadcrumbs--bottom-border {
	border-bottom: 2px solid #D8E0EA;
}

@media only screen and (max-width: 575px) {
	.breadcrumbs {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}