.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	text-align: center;
	position: relative;
	top: 2px;
	line-height: 44px;
	&:after {
		content: url(../img/program-review_dropdown_icon.png);
		display: inline-block;
		margin-left: 5px;
		position: relative;
		bottom: 1px;
		visibility: hidden;
	}
}

.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

.dropdown-toggle::after {
	content: url(../img/program-review_dropdown_icon.png);
	display: inline-block;
	position: relative;
	right: 20px;
	bottom: 1px;
	border: none;
}

.bootstrap-select > .dropdown-toggle {
	padding-right: 15px;
}


.custom-select-user {
	width: 100% !important;
	margin-bottom: 15px;
	.btn {
		width: 100%;
		background-color: #fff;
		border: 2px solid #7B8FA8;
		color: #808ea6;
		cursor: pointer;
		line-height: 1;
		height: 48px;
		@include tr(.5s);
		&:hover {
			border-color: $accent;
			@include tr(.5s);
		}
	}
	& .dropdown-menu.show {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		border-radius: 0;
		& .dropdown-menu.inner {
			display: block;
			border: 1px solid rgba(#7B8FA8, .2);
			li {
				text-align: center;
				a {
					color: #808ea6;
					line-height: 30px;
					display: block;
					@include tr(.2s);
					&:hover {
						background-color: rgba(#7B8FA8, .2);
						@include tr(.2s);
					}
					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}