// BANNER
.education-banner {
	background: url(../img/group-edu/group-edu-banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	color: #fff;
	padding-top: 85px;
	font-size: 16px;
	h1 {
		font-family: "Exo2-SemiBold";
		text-transform: uppercase;
		margin-bottom: 25px;
		letter-spacing: 2px;
		line-height: 1.3;
	}
	p {
		padding: 0 30px;
		letter-spacing: 0.8px;
		margin-bottom: 55px;
	}
}

.education-banner.-bronze {
	background: url(../img/course-bronze/course-bronze-banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	h1 {
		margin-bottom: 15px;
	}
	p {
		padding: 0 20px;
		margin-bottom: 70px;
	}
}


.education-banner-advantages {
	background: rgba(#000, .54);
	padding: 55px 0;
	h4 {
		font-family: "Exo2-SemiBold";
		text-transform: uppercase;
		margin-bottom: 50px;
		letter-spacing: 1.25px;
	}
}

.education-banner-advantages.-bronze {
	padding: 60px 0 50px;
}

.advantages-card-wrap {
	display: flex;
	justify-content: space-between;
}

.advantages-card {
	position: relative;
	min-width: 240px;
	.img_wrap {
		min-height: 70px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		margin-bottom: 15px;
	}
	&:after {
		display: block;
		position: absolute;
		content: '';
		width: 2px;
		height: 34px;
		background: $accent;
		top: 40%;
		right: -1px;
		transform: translateY(-50%);
	}
	&:last-child {
		&:after {
			display: none;
		}
	}
	p {
		margin: 0;
	}
}

.advantages-card.-bronze{
	p {
		margin: 0;
	}
}



@media screen and (max-width:1199px) {
	.education-banner.-bronze {
		padding-top: 65px;
		p {
			padding: 0;
		}
	}
	.education-banner {
		h1 {
			font-size: 35px;
		}
	}
}

@media screen and (max-width:991px) {
	.education-banner {
		padding-top: 65px;
		h1 {
			font-size: 30px;
			margin-bottom: 10px;
		}
		p {
			padding: 0;
			margin-bottom: 25px;
		}
	}
	.education-banner.-bronze {
		background: url(../img/course-bronze/course-bronze-banner-bg_pl.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		padding-top: 35px;
		p {
			margin-bottom: 25px;
		}
	}
	.education-banner-advantages {
		background: rgba(#000, .54);
		padding: 35px 0;
		h4 {
			font-size: 20px;
			margin-bottom: 35px;
		}
	}
	.education-banner-advantages.-bronze {
		padding: 27px 0;
		p {
			margin: 0;
		}
	}
	.advantages-card {
		min-width: 155px;
		.img_wrap {
			min-height: 0px;
			max-height: 41px;
			margin-bottom: 12px;
			img {
				max-height: 41px;
			}
		}
		&:after {
			top: 33%;
		}
		p {
			font-size: 12px;
			letter-spacing: 0.6px;
			margin: 0;
		}
	}
}

@media screen and (max-width:767px) {
	.education-banner.-bronze {
		background: url(../img/course-bronze/course-bronze-banner-bg_pl.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		padding-top: 20px;
		p {
			margin-bottom: 15px;
		}
	}
	.education-banner-advantages.-bronze {
		padding: 15px 0;
	}
	.advantages-card {
		min-width: 33.333%;
	}
	.advantages-card.-bronze {
		p {
			margin: 0;
		}
	}

}

@media screen and (max-width:500px) {
	.education-banner {
		padding-top: 40px;
		h1 {
			font-size: 25px;
			letter-spacing: 1.25px;
			margin-bottom: 15px;
		}
	}
	.education-banner.-bronze {
		background: url(../img/course-bronze/course-bronze-banner-bg_mb.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		padding-top: 35px;
		p {
			margin-bottom: 35px;
		}
	}
	.education-banner-advantages {
		padding: 40px 0 35px;
		h4 {
			font-size: 17px;
			letter-spacing: 0.85px;
			margin-bottom: 30px;
		}
	}
	.education-banner-advantages.-bronze {
		padding: 35px 0;
	}
	.advantages-card {
		.img_wrap {
			max-height: 36px;
			margin-bottom: 12px;
			img {
				max-height: 36px;
			}
		}
		&:after {
			height: 24px;
			top: 33%;
		}
		p {
			font-size: 13px;
			letter-spacing: 0.65px;
			margin: 0;
		}
	}
	.advantages-card.-bronze {
		p {
			padding: 0 5px;
			margin: 0;
		}
	}
}