@media only screen and (max-width: 767px) {
	.sides-15px {
		position: relative;
		&.sidebar-item{
			&:before{
				display: none;
			}
			& .title-wrap{
				&:before{
					width: inherit;
					left: -1000px;
					right: -1000px;
				}
			}
			& .sidebar-content{
				position: relative;
				&:before{
					content: '';
					display: block;
					position: absolute;
					left: -1000px;
					right: -1000px;
					top: 0;
					bottom: 0;
					background: inherit;
					z-index: -1;
				}
			}
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: -1000px;
			right: -1000px;
			top: 0;
			bottom: 0;
			background: inherit;
			z-index: -1;
		}
	}
}