.header__hamburger-menu {
	width: 40px;
	height: 40px;
	background-color: #F4F6F9;
	border-radius: 50%;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	span {
		display: inline-block;
		width: 15px;
		height: 2px;
		background-color: #4F565F;
		margin-bottom: 3px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media only screen and (max-width: 991px) {
	.header__hamburger-menu, .header__search-button {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}