.pagination {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: baseline;
	font-size: 10px;
	li:first-child {
		text-transform: uppercase;
		a {
			margin-right: 5px;
			letter-spacing: 0.5px;
			&:before {
				content: "\e902";
				display: inline-block;
				font-family: icomoon !important;
				font-size: 12px;
				color: #747c89;
				margin-right: 7px;
				position: relative;
				top: 1px;
				right: 0;
				@include tr(0.3s);
			}
			&:hover {
				&:before {
					color: $accent;
					right: 5px;
					@include tr(0.3s);
				}
			}
		}
	}
	li:last-child {
		text-transform: uppercase;
		a {
			margin-left: 5px;
			letter-spacing: 0.5px;
			&:after {
				content: "\e900";
				display: inline-block;
				font-family: icomoon !important;
				font-size: 12px;
				color: #747c89;
				margin-left: 7px;
				position: relative;
				top: 1px;
				left: 0;
				@include tr(0.3s);
			}
			&:hover {
				&:after {
					color: $accent;
					left: 5px;
					@include tr(0.3s);
				}
			}
		}
	}
	a {
		color: #747c89;
		border: none;
		padding: 0 4px;
		letter-spacing: -0.6px;
		&:hover {
			background-color: transparent;
			color: $accent;
		}
		&:focus {
			background-color: transparent;
			outline: none;
		}
	}
	.active {
		font-size: 15px;
		padding: 0 5px;
	}
}

.pagination-section--forum {
	.pagination {
		justify-content: flex-start;
	}
	li:first-child {
		a {
			&:hover {
				&:before {
					right: 0;
				}
			}
		}
	}
	li:last-child {
		a {
			&:hover {
				&:after {
					left: 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	.pagination--big {
		font-size: 16px;
		align-items: center;
		li:first-child {
			font-size: 0;
			.page-link {
				margin-right: 40px;
			}
			a {
				width: 50px;
				height: 50px;
				padding: 0;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #ECF0F4;
				border-radius: 50% !important;
				&:hover {
					&:before {
						right: 0px;
					}
				}
			}
			a:before {
				font-size: 25px;
				color: #BCC1C9;
				margin: 0;
				left: 6px;
			}
		}
		li:last-child {
			font-size: 0;
			.page-link {
				margin-left: 40px;
			}
			a {
				width: 50px;
				height: 50px;
				padding: 0;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #D8E0EA;
				border-radius: 50% !important;
				&:hover {
					&:after {
						left: 0px;
					}
				}
			}
			a:after {
				font-size: 25px;
				color: #717D8B;
				margin: 0;
				left: auto;
				right: 5px;

			}
		}
		a {
			padding: 0 5px;
		}
		.active {
			font-size: 24px;
			padding: 0 15px;
		}
	}
}

@media only screen and (max-width: 767px) {
	.pagination--big {
		font-size: 10px;
		li:first-child {
			a {
				width: 30px;
				height: 30px;
			}
			a:before {
				font-size: 15px;
			}
			.page-link {
				margin-right: 20px;
			}
		}
		li:last-child {
			a {
				width: 30px;
				height: 30px;
				margin-left: 20px;
			}
			a:after {
				font-size: 15px;
			}
			.page-link {
				margin-left: 20px;
			}
		}
		.active {
			font-size: 15px;
			padding: 0 5px;
		}
	}
}