// SHUFFLE NAV LIST/VIDEO LIST
.shuffle-nav-list {
	padding: 45px 0 40px;
	ul {
		display: flex;
		justify-content: center;
		margin: 0 21px;
	}
	li {
		display: inline-block;
		position: relative;
		&:before {
			background-color: #9da8b9;
			display: block;
			position: absolute;
			content: '';
			width: 100%;
			height: 3px;
			left: 0;
			right: 0;
			bottom: 0;
		}
		a {
			display: block;
			position: relative;
			padding:5px 18px 15px;
			font-size: 11px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			color: #808ea6;
			transition: all .15s;
			&:hover {
				text-shadow: 1px 0 0 #3672bb, 0px 0 0 #3672bb;
				color: #3672bb;
				text-decoration: none;
				transition: all .15s;
				&:before {
					background-color: #3672bb;
					display: block;
					position: absolute;
					content: '';
					width: 100%;
					height: 3px;
					left: 0;
					right: 0;
					bottom: 0;
					transition: all .15s;
				}
			}
			&.active {
				color: #3672bb;
				text-shadow: 1px 0 0 #3672bb, 0px 0 0 #3672bb;
				&:before {
					background-color: #3672bb;
					display: block;
					position: absolute;
					content: '';
					width: 100%;
					height: 3px;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
}

.shuffle-nav-list-shop {
	background: #F1F5FA;
	padding: 0 !important;
	ul {
		justify-content: flex-start;
		margin: 40px 0 20px;
	}
	li {
		&:before {
			background: #fff;
		}
	}
	.basket-wrap {
		width: auto;
		height: 100%;
	}
}

@media screen and (max-width:1199px) {
	.shuffle-nav-list {
		padding: 40px 0 10px;
		ul {
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		li {
			margin-bottom: 20px;
			padding-right: 25px;
			&:before {
				display: none;
			}
			a {
				padding: 0;
				&.active {
					&:before {
						display: none;
					}
				}
				&:hover {
					&:before {
						display: none;
					}
				}
			}
		}
	}
	.shuffle-nav-list-shop {
		ul {
			margin: 25px 0 5px;
		}
	}
}

@media screen and (max-width:991px) {
	.shuffle-nav-list {
		padding: 25px 0 0;
		ul {
			margin: 0;
		}
		li {
			margin-bottom: 15px;
		}
	}
	.shuffle-nav-list-shop {
		ul {
			margin: 25px 0 5px;
		}
	}
}

@media screen and (max-width:767px) {
	.shuffle-nav-list {
		background-color: #F1F5FA;
		display: none;
		padding: 0;
		ul {
			display: block;
			position: relative;
			padding: 50px 0;
			&:before {
				background-color: #fff;
				display: block;
				position: absolute;
				content: '';
				width: 1000px;
				height: 10px;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
			}
		}
		li {
			display: block;
			padding: 0;
			width: 100%;
			text-align: center;
			a {
				padding: 20px 0 15px;
				font-size: 12px;
				line-height: 1;
				color: #808ea6;
				border: 1px solid #808ea6;
				border-radius: 25px;
				&.active {
					background-color: #3672bb;
					color: #fff;
					transition: all .15s;
					border: 1px solid #3672bb;
				}
			}
		}
		&.collapse , &.show , &.collapsing{
			display: inherit;
		}
		&.collapse{
			display: none;
			&.show{
				display: block;
				overflow: hidden;
			}
		}
	}
	.shuffle-nav-list-shop {
		ul {
			margin: 0;
			padding: 50px 0 40px;
		}
	}

}

@media screen and (max-width:575px) {
	.shuffle-nav-list {
		li {
			a {
				font-size: 10px;
			}
		}
	}
}