.side-menu-wrap {
	position: absolute;
	top: 0;
	left: -215px;
	z-index: 100;
	transition: all .3s;
	width: 220px;
	.open {
		position: absolute;
		right: -15px;
		top: 50%;
		margin-top: -20px;
		z-index: 101;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		opacity: 1;
		span {
			@include tr(0.3s);
		}
		&:hover {
			span {
				background-color: $accent;
				@include tr(0.3s);
			}
		}
	}
}

.opacity-0 {
	opacity: 0 !important;
}

.height-0 {
	height: 0;
}

.side-menu {
	width: 220px;
	background-color: #F4F6F9;
	border-radius: 5px;
	box-shadow: 0 7px 16px rgba(0, 0, 0, 0.1);
	font-size: 12px;
	color: #747c89;
	opacity: 1;
	@include tr(0.3s);

	.header__hamburger-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.menu-header {
		padding-top: 10px;
		padding-bottom: 8px;
		border-bottom: 2px solid #76818E;
		padding-left: 15px;
		padding-right: 20px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			text-transform: uppercase;
			position: relative;
			top: 3px;
		}

		.header__hamburger-menu {
			position: relative;
			width: 15px;
			height: 15px;
			&:hover {
				span {
					@include tr(0.3s);
				}
				span {
					background-color: $accent;
					@include tr(0.3s);
				}
			}
		}
	}

	.menu-content {
		padding-top: 5px;
		padding-bottom: 10px;
		padding-left: 15px;
		padding-right: 20px;
		.title {
			color: #747c89;
			padding-right: 15px;
		}

		.arrow-link {
			min-width: 18px;
			max-width: 18px;
			height: 18px;
			border: 2px solid #717D8B;
			line-height: 1;
			@include tr(0.3s);
			flex-basis: 17%;
			i {
				font-size: 12px;
				color: #747c89;
			}
		}

		a {
			@include tr(0.3s);
			display: block;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		a:hover {
			text-decoration: none;
			@include tr(0.3s);
			span {
				color: $accent;
			}
			.arrow-link {
				border-color: $accent;
				@include tr(0.3s);
			}
		}
	}
}

@media only screen and (max-width: 1650px) {
	.side-menu-wrap {
		left: -5px;
		.open {
			right: auto;
			left: -15px;
		}
	}
}

@media only screen and (max-width: 991px) {
	.side-menu-wrap {
		display: none;
	}
}