.social-list {
	list-style-type: none;
	padding-left: 0;
	font-size: 0;
	li {
		display: inline-block;
		border: 2px solid #3388C7;
		width: 40px;
		height: 40px;
		border-radius: 10px;
		text-align: center;
		line-height: 40px;
		margin-right: 5px;
		position: relative;
		&:last-child {
			margin-right: 0;
		}
		&:before {
			content: "";
			display: block;
			width: 5px;
			height: 5px;
			background-color: #F4F6F9;
			position: absolute;
			top: -3px;
			left: 10px;
		}
		&:after {
			content: "";
			display: block;
			width: 5px;
			height: 5px;
			background-color: #F4F6F9;
			position: absolute;
			bottom: -3px;
			right: 10px;
		}
		a {
			font-size: 25px;
			color: #3388C7;
			width: 36px;
			height: 36px;
			display: inline-block;
			@include tr(.4s);
			&:hover {
				color: $accent;
				@include tr(.4s);
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	.social-list {
		display: inline-block;
	}
}

@media only screen and (max-width: 575px) {
	.social-list {
		display: block;
		margin-bottom: 0;
	}
}