/* TYPOGRAPHY ============================ */

.h1--magazine {
	font-size: 30px;
	color: #292f39;
	letter-spacing: 1px;
}

.h1--big {
	font-size: 40px;
	font-family: "Exo2-SemiBold";
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FFF;
	line-height: 1;
	margin-bottom: 25px;
}

.h2--big {
	font-size: 30px;
	font-family: "Exo2-SemiBold";
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #fffc04;
	line-height: 1;
	margin-bottom: 0;
}

.h2--forum {
	font-size: 22px;
	font-family: "MullerMedium";
	color: $accent;
	line-height: 27px;
	letter-spacing: 1.1px;

}

.h2--main {
	font-family: "Exo2-SemiBold";
	font-size: 25px;
	text-align: center;
	letter-spacing: 1.25px;

	&--block {
		padding-top: 25px;
		padding-bottom: 25px;
		background-color: #f1f9f4;
		color: $accent;
		margin-bottom: 0;
	}

	&--border {
		border-top: 4px solid #EEF9F4;
		border-bottom: 4px solid #EEF9F4;
		padding-top: 16px;
		padding-bottom: 23px;
		color: #5182c1;
	}
}

.h3--acticle {
	font-family: "Exo2-SemiBold";
	font-size: 16px;
	line-height: 18px;
	color: #292f39;
	letter-spacing: 0.8px;
	margin-bottom: 0;
}

.h3--main {
	font-family: "Exo2-Bold";
	color: #292f39;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 23px;
}

.accent {
	color: $accent;
}

.accent-red {
	color: #e5563e;
}

.h2-edu {
	font-family: "Exo2-SemiBold";
	letter-spacing: 1.75px;
	text-align: center;
}

.h3-video {
	font-family: "Exo2-SemiBold";
	font-size: 25px;
	letter-spacing: 1.25px;
	margin-bottom: 30px;
	color: #292f39;
}

@media only screen and (max-width: 1199px) {
	.h1--big {
		font-size: 30px;
	}
}

@media only screen and (max-width: 991px) {

	.h2--main {
		font-size: 23px;
	}

	.h2--big {
		font-size: 25px;
		letter-spacing: 1.25px;
	}

	.h2-edu {
		font-size: 23px;
		letter-spacing: 1.15px;
	}

	.h2--forum {
		font-size: 20px;
	}
	.h3-video {
		font-size: 20px;
		letter-spacing: 1px;
		margin-bottom: 25px;
	}
}

@media only screen and (max-width: 767px) {

	.h2--main {
		&--block {
			padding: 10px 15px;
			min-height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.h2--big {
		font-size: 20px;
		letter-spacing: 1.15px;
		line-height: 36px;
	}

	.h2-edu {
		font-size: 25px;
		letter-spacing: 1px;
	}
}

@media only screen and (max-width: 575px) {
	.h1--big {
		font-size: 23px;
		margin-bottom: 15px;
	}

	.h2--main {
		&--border {
			font-size: 25px;
			line-height: 30px;
		}
	}

	.h2--forum {
		font-size: 18px;
		letter-spacing: 0.9px;
	}

}