.video_slider {
	padding: 70px 0 90px;
	background-color: #f4f6f9;
	margin-bottom: 105px;
	h2 {
		margin-bottom: 50px;
	}

	.slick-arrow {
		@include tr(0.3s);
		&:hover {
			color: $accent;
			@include tr(0.3s);
		}
	}
}

.video_slider_wrap {
	margin: 0 -80px;
	.slick-track {
		display: flex;
		align-items: center;
		min-height: 350px;
	}
	.slick-slide { // all slides
		transition: all .2s;
		.wrap {
			position: relative;
			transition: all .2s;
			padding: 0 85px;
		}
	}
	.slick-current + .slick-active {  // center slide
		transform: scale(1.3);
		.wrap {
			padding: 0;
		}
		.video_wrap {
			&:before {
				transition: all .2s;
				display: none;
			}
		}
	}
	.slick-active + .slick-active + .slick-active {  //third slide
		.wrap {
			padding: 0 85px;
		}
	}
	.video_wrap {
		height: 0;
		position: relative;
		padding-bottom: 56.25%;
		iframe {
			transition: all .2s;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
		&:before {
			transition: all .2s;
			display: block;
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			border-radius: 5px;
			background: rgba(#fff, .5);
			z-index: 1;
		}
	}
	.slick-arrow {
		position: absolute;
		top: -80px;
		cursor: pointer;
		span {
			font-size: 30px;
		}
	}
	.left-arrow {
		left: 25%;
	}
	.right-arrow {
		right: 25%;
	}
	&.-modal {
		.video_wrap {
			&:before {
				background: rgba(#000, .23);
			}
		}
		.slick-arrow {
			top: -110px;
			span {
				color: #fff;
				@include tr(0.3s);
			}
			&:hover {
				span {
					color: $accent;
					@include tr(0.3s);
				}
			}
		}
		.left-arrow {
			left: 33%;
		}
		.right-arrow {
			right: 33%;
		}
	}
}

// MODAL VIDEO 

.modal_video {
	background: rgba(#000, .8);
	.container {
		position: relative;
	}
	.modal-dialog {
		max-width: 100%;
		margin: 0;
	}
	.modal-content {
		h2 {
			color: #fff;
			margin-bottom: 80px;
		}
		background: none;
		border: none;
		padding-top: 165px;

	}
	.close_btn_wrap {
		position: absolute;
		top: -120px;
		right: 15px;
		padding: 23px;
		background: rgba(#fff, .4);
		border-radius: 50%;
		cursor: pointer;
		.close-btn:before, .close-btn:after {
			@include tr(0.3s);
		}
		&:hover {
			.close-btn:before, .close-btn:after {
				background-color: $accent;
				@include tr(0.3s);
			}
		}
	}
}

@media screen and (max-width:1199px) {
	.video_slider_wrap {
		.left-arrow {
			left: 22%;
		}
		.right-arrow {
			right: 22%;
		}
		&.-modal {
			.slick-arrow {
				top: -90px;
			}
			.left-arrow {
				left: 30%;
			}
			.right-arrow {
				right: 30%;
			}
		}
	}
	.modal_video {
		.modal-content {
			h2 {
				margin-bottom: 60px;
			}
			padding-top: 115px;
		}
		.close_btn_wrap {
			top: -60px;
		}
	}
}

@media screen and (max-width:991px) {
	.video_slider {
		padding: 50px 0 40px;
		margin-bottom: 70px;
		h2 {
			margin-bottom: 40px;
		}
	}
	.video_slider_wrap {
		.slick-track {
			min-height: 220px;
		}
		.slick-slide {
			.wrap {
				padding: 0 70px;
			}
		}
		.slick-active + .slick-active + .slick-active {
			.wrap {
				padding: 0 70px;
			}
		}
		.slick-dots {
			margin-top: 45px;
		}
	}
	.modal_video {
		.modal-content {
			h2 {
				margin-bottom: 40px;
			}
		}
		.close_btn_wrap {
			padding: 17px;
		}
	}
}

@media screen and (max-width:757px) {
	.video_slider {
		padding: 40px 0;
		h2 {
			margin-bottom: 25px;
		}
	}
	.video_slider_wrap {
		margin: 0;
		.slick-track {
			min-height: 0;
		}
		.slick-slide {
			transform: scale(1) !important;
			.wrap {
				padding: 0 !important;
			}
		}
		.video_wrap {
			&:before {
				display: none;
			}
		}
		.slick-dots {
			margin-top: 20px;
		}
	}
	.modal_video {
		.modal-content {
			h2 {
				margin-bottom: 25px;
			}
		}
		.close_btn_wrap {
			padding: 17px;
		}
		.close_btn_wrap {
			right: 0;
		}
	}
}